<div class="w-100">

    @{
        rowCount = Team1Players.Count();
        if (Team2Players.Count() > rowCount)
        {
            rowCount = Team2Players.Count();
        }
        rowCount++;
    }
    <table class="table table-dark table-bordered w-100">
        <thead>
            <tr>
                <th scope="col" colspan="3" class="red_team text-center">alpha red</th>
                <th scope="col" colspan="3" class="grn_team text-center">alpha grn</th>
            </tr>
            <tr>
                <th scope="col" class="red_team text-center">ID</th>
                <th scope="col" class="red_team text-center">Codename</th>
                <th scope="col" class="red_team text-center">Score</th>
                <th scope="col" class="grn_team text-center">ID</th>
                <th scope="col" class="grn_team text-center">Codename</th>
                <th scope="col" class="grn_team text-center">Score</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < rowCount; i++)
            {
                <tr>
                    @if (i < Team1Players.Count())
                    {

                        <td class="red_team text-center">@Team1Players[i].Player.Id</td>
                        <td class="red_team text-center">@Team1Players[i].Player.Codename</td>
                        <td class="red_team text-center">@Team1Players[i].Score</td>

                    }
                    else if (i == Team1Players.Count())
                    {
                        if (AllowAddingPlayers)
                        {
                            <td colspan="3" class="red_team">
                                <PlayerEntry ValueChanged=@(x => PlayerAddToSession(x,1)) />
                            </td>
                        }
                        else if (Team1Players.Count == 0)
                        {
                            <td colspan="3" class="red_team text-center">No Players In Team</td>
                        }
                    }
                    @if (i < Team2Players.Count())
                    {

                        <td class="grn_team text-center">@Team2Players[i].Player.Id</td>
                        <td class="grn_team text-center">@Team2Players[i].Player.Codename</td>
                        <td class="grn_team text-center">@Team2Players[i].Score</td>

                    }
                    else if (i == Team2Players.Count())
                    {
                        if (AllowAddingPlayers)
                        {
                            <td colspan="3" class="grn_team">
                                <PlayerEntry ValueChanged=@(x => PlayerAddToSession(x,2)) />
                            </td>
                        }
                        else if (Team2Players.Count == 0)
                        {
                            <td colspan="3" class="red_team text-center">No Players In Team</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@inject IDbContextFactory<PlayerDbContext> DbFactory
@code
{
    //This could work well further componented... componentalized? subcomponented? MAKE MORE COMPONENTS!

    //following code is how to do ops against the database. var context is used each time. line below is query to get back a list.
    //  var context = DbFactory.CreateDbContext();
    //  Penalties = context.Penalties.Where<Penalty>(x => x.UserId == User.Id).ToList<Penalty>();
    private int rowCount;

    //TODO: Create Single collection for life of game containing player & data for team, score, etc.
    [Parameter]
    public List<PlayerGameData> Team1Players { get; set; } = new();
    [Parameter]
    public List<PlayerGameData> Team2Players { get; set; } = new();
    [Parameter]
    public bool AllowAddingPlayers { get; set; } = false;

    public void PlayerAddToSession(Models.Player player, int team)
    {
        //Make sure player has not already been added to game.
        if (Team1Players.Where(x => x.Player.Id == player.Id).Count() > 0 || Team2Players.Where(x => x.Player.Id == player.Id).Count() > 0)
        {
            return;
        }
        if (team == 1)
        {
            var data = new PlayerGameData
                {
                    Player = player,
                    Team = team,
                    Score = 0
                };
            Team1Players.Add(data);
        }
        else
        {
            var data = new PlayerGameData
                {
                    Player = player,
                    Team = team,
                    Score = 0
                };
            Team2Players.Add(data);
        }
    }
    protected override Task OnInitializedAsync()
    {
        rowCount = 0;

        return base.OnInitializedAsync();
    }
 }